body {	
	background: midnightblue;
	font-family: 'Segoe UI', sans-serif;
	font-size: large;
	font-weight: bold;
	color: deepskyblue;
}
.content_div {
	height: 2em;
}
.content_div > div {
	padding: 2em;
	text-wrap:normal;
	font-family: 'Segoe UI', sans-serif;
	font-size: x-large;
	text-align: left;
	color: white;
}
.content_div > img {
	height: 100%;
	width: auto;
}
