body {	
	background: midnightblue;
	font-family: 'Segoe UI', sans-serif;
	font-size: xx-large;
	font-weight: bold;
    color: deepskyblue;
}
.content_div > div {
    font-size: 3em;
	padding: 2em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 8em;
	margin-bottom: 0;
	word-wrap:normal;
	text-align: left;
}
.odd > td {
    background-color: deepskyblue;
    color: white;
}
.even td {
    background-color: white;
    color: midnightblue;
}
.content_div > img {
    width: 100%;
}
